global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
  - job_name: "airflow_api"
    metrics_path: /metrics
    static_configs:
      - targets:
          - "api:8000"
  - job_name: "airflow_statsd"
    static_configs:
      - targets:
          - "statsd-exporter:9102"

  - job_name: "api_health"
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - http://api:8000/health
          - http://webserver:8080/health
          - http://grafana:3000/api/health
          - http://alertmanager:9093/-/ready
          - http://prometheus:9090/-/ready
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115
