apiVersion: 1

datasources:
  # Prometheus - Metrics
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 5s

  # Loki - Logs
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        # Link DAG ID in logs to Airflow UI
        - datasourceUid: loki
          matcherRegex: "dag_id=([a-zA-Z0-9_]+)"
          name: "View in Airflow"
          url: "http://localhost:8080/dags/${__value.raw}/grid"

